<div class="chatContainer">
    <div style="color: black; text-align: right;"><span class="loggedInUser">Logged in as {{username}} </span> <span class="loggedInUser" style="margin: 5px; color: blue; text-decoration: underline; cursor: pointer;" (click)="logout()">(logout)</span></div>
    <img class="chatroom-center" src="{{imageUrl}}" alt="Sport">
    <h1 style="color:rgb(0, 0, 0); text-align: center;">{{sportName}} Chat Room</h1>
    <h2 style="color:rgb(109, 47, 47); text-align: center;" class="blink_me">Bulletin Board - {{bulletinMessage}} </h2>
    <div class="chatroom-parent"  #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <div *ngFor="let chatMessage of webSocketService.message">
            <div class="chatroom-MessageContainer">
                <p>
                    <span>[{{chatMessage.messageTime | date:'h:mm:ss a z'}}] </span>
                    <strong [ngStyle]="chatMessage.username==username?{'color':'blue'} : {'color': 'red'}">{{chatMessage.username}}: </strong>
                    <span>{{chatMessage.message}}</span>
                </p>
            </div>
        </div>
    </div>

    <div class="messageSendBox" style="width: 100%;">
        <table class="messageSendTable">
            <tr>
                <td><input type="text" class="messageSendText" placeholder="Enter a message" [(ngModel)]="messageToSend" (keydown.enter)="checkUsername()" autofocus required></td>
                <td style="width: 100px; text-align: left;"><input type="button" class= "messageSendButton" value="Send" (click)="checkUsername()"> </td>
            </tr>
        </table>
    </div>

</div>