.parent {
  position: relative;
  display: flex;
  /* justify-content: flex-end; */
  flex-direction: column;
  overflow-y:auto; 
  height: 600px;
 }

 .parent > :first-child {
  margin-top: auto !important;
  /* use !important to prevent breakage from child margin settings */
  }

.messageContainer {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 0px 10px;
  margin: 10px 25px;
  bottom: 10px;

}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}