/* You can add global styles to this file, and also import other style files */
body{
    /* background: linear-gradient(to bottom, #ffffff 5%, #33cc33 100%);
    background-attachment: fixed; */
    background-color: #222;
}

/* h1{
    color: #839496
} */

h1 { color:  #c0ded9; font-size: 48px; font-family: 'Signika', sans-serif; padding-bottom: 10px; margin-top: 10px; }

.sportsContainer{
    width: 80%;
    margin: 15px auto;
    text-align: center;
}

.sportBox{
    width: 60%;
    height: 80px;
    margin: 0px;
    background-color: #c0ded9;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
}

.sportBox:hover{
    background-color:  #8ea3a0;
    color: black;
}

.sportTable{
    width: 100%;
    height: 100%;
    font-size: 18px;
    vertical-align: middle;
}

.bigSportIcon{
    width: 40px;
}

.sportIcon{
    width: 55px;
}

.usernameButton {
    background-color: #4b5250;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0;
    cursor: pointer;
    width: 100px;
  }

  .usernameBox {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;    
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }

.chatContainer{
    width: 80%;
    margin: 100px auto;
    text-align: left;
    background-color: #b2c2bf;
}

.messageBox{
    width: 60%;
    height: 80px;
    margin: 0px;
    background-color: #c0ded9;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
}

.messageSendTable{
    width: 100%;
    height: 100%;
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
}

.messageSendText {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;    
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.messageSendButton {
    background-color: #4b5250;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0;
    cursor: pointer;
    width: 100px;
  }

  .updateSendButton {
    background-color: #4b5250;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;  
  }

  .updateSendButton:hover{
    background-color: #707a77;
  }

  .messageSendBox{
    height: 60px;
    margin: 0px;
    background-color: #9ab3ae;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
}
