<div class="sportsContainer">
    <h1>Sports Chatroom!</h1>

    <div class="sportBox">
        <table class="sportTable" (click)="sportSelection('FOOTBALL')">
            <tr>
                <td rowspan="2"><img class="bigSportIcon" src="assets/images/nfls.webp" alt="nfl"></td>
                <td><span> NFL Season 2022</span></td>
            </tr>
            <tr>
                <td><span>Click to enter the chat room!</span></td>
            </tr>
        </table>
    </div>

    <div class="sportBox">
        <table class="sportTable" (click)="sportSelection('BOXING')">
            <tr>
                <td rowspan="2"><img class="sportIcon" src="assets/images/boxing.webp" alt="nfl"></td>
                <td><span> Boxing 2022</span></td>
            </tr>
            <tr>
                <td><span>Click to enter the chat room!</span></td>
            </tr>
        </table>
    </div>

    <div class="sportBox">
        <table class="sportTable" (click)="sportSelection('BASEBALL')">
            <tr>
                <td rowspan="2"><img class="sportIcon" src="assets/images/mlbs.webp" alt="nfl"></td>
                <td><span> Baseball Season 2022</span></td>
            </tr>
            <tr>
                <td><span>Click to enter the chat room!</span></td>
            </tr>
        </table>
    </div>

    <div class="sportBox">
        <table class="sportTable" (click)="sportSelection('BASKETBALL')">
            <tr>
                <td rowspan="2"><img class="sportIcon" src="assets/images/nba.webp" alt="nfl"></td>
                <td><span> Basketball Season 2022</span></td>
            </tr>
            <tr>
                <td><span>Click to enter the chat room!</span></td>
            </tr>
        </table>
    </div>

    <div class="sportBox">
        <table class="sportTable" (click)="sportSelection('HOCKEY')">
            <tr>
                <td rowspan="2"><img class="sportIcon" src="assets/images/nhls.webp" alt="nfl"></td>
                <td><span> Hockey Season 2022</span></td>
            </tr>
            <tr>
                <td><span>Click to enter the chat room!</span></td>
            </tr>
        </table>
    </div>

</div>
