<div class="chatContainer">
    <h1 style="color:rgb(0, 0, 0); text-align: center;">Admin Panel</h1>
    <div class="adminpanel-main"  #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <h2 style="padding:0px 15px">Bulletin Board:</h2>
    <fieldset class="fs">
        <legend>Bulletin message for Football</legend>
        <textarea class="subject" name="subject" placeholder="Write something.." [(ngModel)]="footballBulletinMessage" style="height:75px"></textarea>
        <input class= "updateSendButton" type="button" (click)="updateBulletin('Football')" value="Update">
    </fieldset>

    <fieldset class="fs">
        <legend>Bulletin message for Boxing</legend>
        <textarea class="subject" name="subject" placeholder="Write something.." [(ngModel)]="boxingBulletinMessage" style="height:75px"></textarea>
        <input class= "updateSendButton" type="button" (click)="updateBulletin('Boxing')" value="Update">
    </fieldset>

    <fieldset class="fs">
        <legend>Bulletin message for Baseball</legend>
        <textarea class="subject" name="subject" placeholder="Write something.." [(ngModel)]="baseballBulletinMessage" style="height:75px"></textarea>
        <input class= "updateSendButton" type="button" (click)="updateBulletin('Baseball')" value="Update">
    </fieldset>

    <fieldset class="fs">
        <legend>Bulletin message for Basketball</legend>
        <textarea class="subject" name="subject" placeholder="Write something.." [(ngModel)]="basketballBulletinMessage" style="height:75px"></textarea>
        <input class= "updateSendButton" type="button" (click)="updateBulletin('Basketball')" value="Update">
    </fieldset>

    <fieldset class="fs">
        <legend>Bulletin message for Hockey</legend>
        <textarea class="subject" name="subject" placeholder="Write something.." [(ngModel)]="hockeyBulletinMessage" style="height:75px"></textarea>
        <input class= "updateSendButton" type="button" (click)="updateBulletin('Hockey')" value="Update">
    </fieldset>

    <div style="padding:15px; width:100%">
    <h2>Clear Users:</h2>
        <table border="1">
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>SportName</th>
                <th>CreateDate</th>
            </tr>

            <tr *ngFor="let userInfo of userInfos">
                <td>{{userInfo.id}}</td>
                <td>{{userInfo.username}}</td>
                <td>{{userInfo.sportName}}</td>
                <td>{{userInfo.createdDate}}</td>
            </tr> 
        </table>
        <br>
        <input class="subject" type="text" [(ngModel)]="selectedUsername" placeholder="Enter a username" style="margin: 0px 5px 10px 0px; width: 185px">
        <input class= "updateSendButton" type="button" value="Delete" (click)="delete()">
        <input class= "updateSendButton" type="button" value="Delete All" (click)="deleteAll()">
    </div>

    <div style="padding:15px; width: 95%;">
    <h2>Clear messages:</h2>

      <!-- <table border="1">
        <tr>
          <th>MessageId</th>
          <th>Username</th>
          <th>Message</th>
          <th>SportName</th>
          <th>MessageTime</th>
        </tr>

        <tr *ngFor="let message of messages">
          <td>{{message.messageId}}</td>
          <td>{{message.username}}</td>
          <td>{{message.message}}</td>
          <td>{{message.sportName}}</td>
          <td>{{message.messageTime}}</td>
        </tr> 
      </table> -->

      <table border="1">
        <tr *ngFor="let message of messages">
          <td>MessageId: "{{message.messageId}}"
          Username: "{{message.username}}"
          Message: "{{message.message}}"
          SportName: "{{message.sportName}}"
          MessageTime: "{{message.messageTime}}"</td>
        </tr> 
      </table>

      <br>
      <input class= "updateSendButton" type="button" value="Clear" (click)="clearMessages()">
    </div>

   
</div>
