<div class="chatContainer">
    <h1 style="color:grey; text-align: center;">Admin Panel</h1>
    <div class="parent"  #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <h3>Bulletin Board:</h3>
    <!-- <table>
        <tr>
            <th><span>Sport Name</span></th>
            <th><span>Message</span></th>
            <th></th>
        </tr>
        <tr>
            <td><span>Football</span></td>
            <td><input type="textarea" placeholder="Enter a message"></td>
            <td><input type="button" value="submit"></td>
        </tr>
        <tr>
            <td><span>Boxing</span></td>
            <td><input type="textarea" placeholder="Enter a message"></td>
            <td><input type="button" value="submit"></td>
        </tr>
        <tr>
            <td><span>Baseball</span></td>
            <td><input type="textarea" placeholder="Enter a message"></td>
            <td><input type="button" value="submit"></td>
        </tr>
        <tr>
            <td><span>Basketball</span></td>
            <td><input type="textarea" placeholder="Enter a message"></td>
            <td><input type="button" value="submit"></td>
        </tr>
        <tr>
            <td><span>Hockey</span></td>
            <td><input type="textarea" placeholder="Enter a message"></td>
            <td><input type="button" value="submit"></td>
        </tr>
    </table> -->

    <div class="container">
        <form action="/action_page.php">
        <div class="row">
          <div class="col-25">
            <label for="subject">Subject</label>
          </div>
          <div class="col-75">
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
          </div>
        </div>
        <br>
        <div class="row">
          <input type="submit" value="Submit">
        </div>
        </form>
      </div>
    
    </div>

    
</div>
